@import '../../global.scss';

.signup {
    height: 100vh;
    width: 100vw;
    background-image: url(../../../public/images/SignupLibrary.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;

    .form {
        background-color: $Transparent2;
        border: 2px solid $Grey2;
        border-radius: 8px;
        margin-top: 16vh;
        width: 50%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        button {

            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
        }

        .form-item {

            input {
                width: 20vw;
                height: 5vh;
                border: 2px solid $Grey2;
                border-radius: 8px;
            }
        }
    }
}