.account {
    height: 100vh;
    width: 100vw;
    background-image: url(../../../public/images/MyAccountBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}