@import '../../global.scss';

.navbar {
  width: 100%;
  height: 100px;
  border: $Dark2 solid 1px;
  color: $Dark2;
  position: fixed;
  top: 0px;
  z-index: 3;
  overflow: hidden;
  box-shadow: 0px 0px 15px -8px $Dark1;
  background-color: $Transparent1;
  
  .container {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .topbar {
      display: flex;
      align-items: center;
      font-size: 3vw;

      .icon {
        width: 60px;
        margin-right: 20px;
      }

      .item-container {
        display: flex;
        align-items: center;
        margin-right: 4vw;

        .Tabs {
          text-decoration: none;
          color: $Dark2;
          width: 20vw;
        }

        .icon {
          width: 35px;
          margin-right: 5px;
        }

        .searchbar {
          width: 45vw;
          height: 35px;
          border-radius: 8px;
          box-shadow: 0px 0px 15px -8px $Dark1;
        }

        .button {
          border-radius: 8px;
          height: 7%;
          width: 3%;
          position: fixed;
          z-index: 4;
          cursor: pointer;
          overflow: hidden;

          .icon {
            width: 100%;
          }
        }

        .checkbox {
          display: none;
        }

        .background {
          height: 1px;
          width: 1px;
          border-radius: 50%;
          position: fixed;
          background-image: url(../../../public/images/NavPic.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          transition: transform 0.75s cubic-bezier(0.9, 0, 0.1, 1);
        }

        .nav {
          height: 100vh;
          position: fixed;
          top: 0px;
          right: -100vw;
          z-index: 3;
          width: 0px;
          transition: ease 1.1s;

          .list {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-decoration: none;
            text-align: center;
            width: 100%;

            .item {
              margin: 1rem;
              font-size: 45px;
              display: flex;
              flex-direction: column;

              .link {
                text-decoration: none;
                color: $Dark2;
                margin: 1%;
              }

              .link:hover {
                color: $Grey4;
                cursor: pointer;
              }
            }
          }
        }

        .checkbox:checked ~ .background {
          transform: scale(4000);
        }
        .checkbox:checked ~ .nav {
          width: 100%;
          right: 0px;
        }
        // .checkbox:checked ~ .button {
        //   // background-color: $Grey2;
        //   transition: ease 0.6s;
        // }
      }
    }
  }
}
