.dashboardMain {
  .hero-container {
    background-image: url(https://t4.ftcdn.net/jpg/03/03/73/47/360_F_303734740_Us6tBZOZxqkfEmFgpf18Ti3gUIIGqo6A.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 61.1vh;
    width: 100vw;
  }
  .scrolling-container {
    border: solid black 3px;
    background-image: url(https://wallpaperaccess.com/full/415267.jpg);
    height: 60vh;
    width: 100vw;
    .scrollHeading {
      border: solid black 3px;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.5);
      width: 80vw;
    }
    .bookMain {
      height: 600px;
      margin: 0;
      display: grid;
      grid-template-rows: 500px 100px;
      grid-template-columns: repeat(10, 1fr);
      column-count: 11;
      column-gap: 1px;
      align-items: center;
      justify-items: center;

      .bookContainer {
        grid-row: 1 / 4;
        grid-column: 1 / 12;
        width: 100vw;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 650px;
        --items: 10;
        --middle: 5;
        --position: 1;
      }

      .bookCell {
        transform: rotateY(calc(-5deg * var(--r)))
          translateX(calc(-300px * var(--r)));
        z-index: calc((var(--position) - var(--abs)));
        --r: calc(var(--position) - var(--offset));
        --abs: max(calc(var(--r) * -1), var(--r));
        transition: all 0.25s linear;
        position: absolute;
        width: 300px;
        height: 400px;
      }
      input:nth-of-type(1):checked ~ .bookContainer {
        --position: 1;
      }
      input:nth-of-type(1) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(1) {
        --offset: 1;
        background-color: #90f1ef;
      }
      input:nth-of-type(2):checked ~ .bookContainer {
        --position: 2;
      }
      input:nth-of-type(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(2) {
        --offset: 2;
        background-color: #ff70a6;
      }
      input:nth-of-type(3):checked ~ .bookContainer {
        --position: 3;
      }
      input:nth-of-type(3) {
        grid-column: 1 /4;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(3) {
        --offset: 3;
        background-color: #ff9770;
      }
      input:nth-of-type(4):checked ~ .bookContainer {
        --position: 4;
      }
      input:nth-of-type(4) {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(4) {
        --offset: 4;
        background-color: #ffd670;
      }
      input:nth-of-type(5):checked ~ .bookContainer {
        --position: 5;
      }
      input:nth-of-type(5) {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(5) {
        --offset: 5;
        background-color: #08ad42;
      }
      input:nth-of-type(6):checked ~ .bookContainer {
        --position: 6;
      }
      input:nth-of-type(6) {
        grid-column: 1 / 7;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(6) {
        --offset: 6;
        background-color: #90f1ef;
      }
      input:nth-of-type(7):checked ~ .bookContainer {
        --position: 7;
      }
      input:nth-of-type(7) {
        grid-column: 1 / 8;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(7) {
        --offset: 7;
        background-color: #90f1ef;
      }
      input:nth-of-type(8):checked ~ .bookContainer {
        --position: 8;
      }
      input:nth-of-type(8) {
        grid-column: 1 / 9;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(8) {
        --offset: 8;
        background-color: #90f1ef;
      }
      input:nth-of-type(9):checked ~ .bookContainer {
        --position: 9;
      }
      input:nth-of-type(9) {
        grid-column: 1 / 10;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(9) {
        --offset: 9;
        background-color: #90f1ef;
      }
      input:nth-of-type(10):checked ~ .bookContainer {
        --position: 10;
      }
      input:nth-of-type(10) {
        grid-column: 1 / 11;
        grid-row: 2 / 3;
      }
      div.bookCell:nth-of-type(10) {
        --offset: 10;
        background-color: #90f1ef;
      }
    }

    input[type="radio"] {
      display: grid;
      appearance: none;
      -webkit-appearance: none;
      --form-control-color: #5a189a;
      background-color: rgba(255, 255, 255, 0.5);
      font: inherit;
      width: 2px;
      height: 2px;
      padding: 13.5px;
      border: 3px solid #5a189a;
      border-radius: 30%;
      place-content: center;
    }

    input[type="radio"]::before {
      box-shadow: inset 100px 100px var(--form-control-color);
      transition: 300ms transform ease-in-out;
      border-radius: 30%;
      transform: scale(0);
      content: "";
      width: 20px;
      height: 20px;
    }

    input[type="radio"]:checked::before {
      transform: scale(1);
    }
  }
}
