@import "../../global.scss";

.Login {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .Hero {
    height: 50vh;
    width: 100%;
    background-image: url(../../../public/images/Book.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .Container {
    display: flex;

    .left {
      border: 2px solid $Grey2;
      height: 50vh;
      width: 30vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../../../public/images/Bookshelf.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .loginContainer {
        border: 2px solid $Grey2;
        border-radius: 8px;
        width: 85%;
        height: 85%;
        background-color: rgb(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h2 {
          font-size: 32px;
        }

        input {
          width: 70%;
          height: 10%;
          border: 2px solid $Grey2;
          border-radius: 8px;
        }

        h4 {
          font-size: 18px;
          
        }
      }
    }

    .right {
      height: 50vh;
      width: 70vw;
      border-top: 2px solid $Grey2;
      border-right: 2px solid $Grey2;
      border-bottom: 2px solid $Grey2;
      background-image: url(../../../public/images/BlackLeather.jpg);
      filter:contrast(0.6);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 40px;
      }
    }
  }
}
