$paletteDarkest: #10002B;
$palette2ndDarkest: #240046;
$palette3rdDarkest: #3C096C;
$palette4thDarkest: #5A189A;
$paletteLightest: #E0AAFF;
$palette2ndLightest: #C77DFF;
$palette3rdLightest: #9D4EDD;
$palette4thLightest: #7B2CBF;