// Greys
$Grey1: #595959;
$Grey2: #7F7F7F;
$Grey3: #A5A5A5;
$Grey4: #CCCCCC;
$Grey5: #F2F2F2;

$Dark1: Black;
$Dark2: #0F0F0F;

$Transparent1: rgb(255, 255, 255, 0.2);
$Transparent2: rgb(255, 255, 255, 0.4);